<app-navbar [NameRoute]="'Crear reseña'" [href]="'/citas-medicas'" />


<ion-content [fullscreen]="true">
      <!-- Animación -->
      <div class="anim">
        <ng-lottie [options]="options"></ng-lottie>
    </div>

    <ion-list>

        <form [formGroup]="FormularioResenia" (submit)="CreateResenia(FormularioResenia.value)">

            <!-- Input de Califacion -->

            <ion-item>
              <ion-icon name="star-outline"></ion-icon>
              <ion-input formControlName="calificacion" label="Calificación" type="number" placeholder="1-5" min="1" max="5"></ion-input>
            </ion-item>
            <div class="mt-1" *ngIf="FormularioResenia.get('calificacion')?.invalid && FormularioResenia.get('calificacion')?.touched">
              <ion-badge *ngIf="FormularioResenia.get('calificacion')?.hasError('required')" color="warning">Campo Obligatorio</ion-badge>
            </div>


            <!-- Input de Comentario -->

            <ion-item>
              <ion-select formControlName="comentario_id" label="Eliga el Comentario" label-placement="floating" fill="solid">
                <ion-select-option value="1">Buena Atención 
                </ion-select-option>
                <ion-select-option value="2">Excelente Atención</ion-select-option>
                <ion-select-option value="3">Mala Atención</ion-select-option>
                <ion-select-option value="4">Pésima Atención</ion-select-option>
              </ion-select>
            </ion-item>
            <div class="mt-1" *ngIf="FormularioResenia.get('comentario_id')?.invalid && FormularioResenia.get('comentario_id')?.touched">
              <ion-badge *ngIf="FormularioResenia.get('comentario_id')?.hasError('required')" color="warning">Campo Obligatorio</ion-badge>
            </div>

            <ion-button color="medium" type="submit" [disabled]="FormularioResenia.invalid">
                Registrar
                <ion-icon class="ion-icon-create" slot="end" name="create"></ion-icon>
            </ion-button>
        </form>

    </ion-list>

    <!-- Para regresar atrás -->
    <ion-fab [routerLink]="['/dudas']" slot="fixed" horizontal="end" vertical="start">
        <ion-fab-button color="dark">
            <ion-icon name="chevron-back"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
