.grid {
  background: #b8b4b4;
  border-radius: 12px;
  margin: 20px;
  grid-template-columns: 2fr auto;
  display: flex;
}

.flex-warp {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.icon-img {
  display: flex;
  align-items: center;
  width: 90px;
  height: 90px;
}

.block-warp-2 {
  display: block;
  padding: 10px 10px 10px 20px;
}

.title {
  font-weight: 700;
  font-size: 18px;
}

.description {
  font-weight: 500;
  font-size: 15px;
  padding: 15px;
  color: black;
  border-radius: 12px;
}

.btn-observacion{
  left: -145px;
  top: -28px;
}

.btn-receta{
  left: 10px;
  top: -72.5px;
}

