

div {
  background-color: #f3f3f3e0;
  width: 350px;
  height: 180px;
  margin: auto;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  margin-top: 20px;
  box-shadow: 5px 5px 5px rgba(112, 112, 112, 0.345);
}

.icon-img {
  width: 90px;
  height: 90px;
  position: relative;
  top: 20px;
  left: 30px;
}

ion-button{
  margin-left: 165px;
}

.label-titulo{
  position: relative;
  left: 145px;
  top: -60px;
  font-size: 20pt;
}

.label-fecha-inicio{
  position: relative;
  left: 80px;
  top: -30px;
  font-size: 20px;
}

.label-fecha-final{
  position: relative;
  left: 145px;
  top: -50px;
  font-size: 15px;
}


.btn-observacion{
  position: relative;
  left: -145px;
  top: -28px;
}

.btn-receta{
  position: relative;
  left: 10px;
  top: -72.5px;
}
