

div {
  background-color: #95a5a6a9;
  width: 350px;
  height: 180px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  margin-left: 15px;
  margin-top: 20px;
}

.icon-img {
  width: 90px;
  height: 90px;
  position: relative;
  top: 30px;
  left: 25px;
}

ion-button{
  margin-left: 165px;
}

.label-titulo{
  position: relative;
  left: 160px;
  top: -60px;
  font-size: 30px;
}

.label-fecha-inicio{
  position: relative;
  left: 80px;
  top: -30px;
  font-size: 20px;
}

.label-fecha-final{
  position: relative;
  left: 160px;
  top: -50px;
  font-size: 15px;
}


.btn-observacion{
  position: relative;
  left: -135px;
  top: -25px;
}

.btn-receta{
  position: relative;
  left: 20px;
  top: -69px;
}
