<app-navbar [NameRoute]="'Perfil paciente'" [href]="'/home'" />

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ng-container *ngIf="paciente"
    ><ion-card>
      <ion-card-header>
        <div class="flex-warp">
          <p class="title">Perfil paciente</p>
          <img
            class="img-profile"
            alt="user"
            src="https://ionicframework.com/docs/img/demos/avatar.svg"
          />
          <h3> {{paciente.usuario.nombre |titlecase}}  <span> {{paciente.usuario.apellido|titlecase}} </span></h3>
          <p> {{paciente.usuario.email}} </p>
        </div>

        <div class="flex-warp-content">


          <div class="data-content">
            <ion-icon name="location-outline"></ion-icon>
            <div class="subtitle"> {{paciente.usuario.ubicacion.provincia|titlecase}}-<span>{{paciente.usuario.ubicacion.canton|titlecase}} </span></div>
          </div>

          <div class="data-content">
            <ion-icon name="calendar-number-outline"></ion-icon>
            <div class="subtitle"> {{paciente.usuario.datos_personale.fecha|date}} </div>
          </div>

          <div class="data-content">
            <ion-icon name="call-outline"></ion-icon>
            <div class="subtitle"> {{paciente.usuario.datos_personale.telefono}} </div>
          </div>
        </div>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-card-header *ngIf="paciente.antecedentes_medico.length>0">
        <ion-accordion-group>
          <ion-accordion
            value="second"
            toggleIcon="caret-down-circle"
            toggleIconSlot="start"
          >
            <ion-item slot="header" color="light">
              <div class="subtitle">Antedentes médicos</div>
            </ion-item>
            <div slot="content">
              <h5>Condicion medica: {{paciente.antecedentes_medico[0].condicion_medica}} </h5>
              <h5>Alergias: {{paciente.antecedentes_medico[0].alergias}} </h5>
              <h5>Tipo sangre: {{paciente.antecedentes_medico[0].tipo_sangre}}</h5>
              <h5>Otros datos: {{paciente.antecedentes_medico[0].otros_datos}} </h5>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </ion-card-header>

      <ion-card-header>
        <ion-accordion-group>
          <ion-accordion
            value="second"
            toggleIcon="caret-down-circle"
            toggleIconSlot="start"
          >
            <ion-item slot="header" color="light">
              <div class="subtitle">Medicamentos</div>
            </ion-item>
            <div slot="content">
              <h5>Tienes <span> {{paciente.medicamento.length}} </span> <span> Medicamentos</span></h5>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </ion-card-header>

      <ion-card-header>
        <ion-accordion-group>
          <ion-accordion
            value="second"
            toggleIcon="caret-down-circle"
            toggleIconSlot="start"
          >
            <ion-item slot="header" color="light">
              <div class="subtitle">Vacunas</div>
            </ion-item>
            <div slot="content">
              <h5>Tiene <span> {{paciente.vacuna.length}} </span> <span> vacunas</span></h5>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </ion-card-header>

      <ion-card-header>
        <ion-accordion-group>
          <ion-accordion
            value="second"
            toggleIcon="caret-down-circle"
            toggleIconSlot="start"
          >
            <ion-item slot="header" color="light">
              <div class="subtitle">Examenes</div>
            </ion-item>
            <div slot="content">
              <h5>Tiene <span> {{paciente.examenes_medico.length}} </span> <span> examenes medicos</span></h5>

            </div>
          </ion-accordion>
        </ion-accordion-group>
      </ion-card-header>

      <div class="ion-text-center ion-margin-vertical" [routerLink]="['/historial-medico/'+paciente.id]" routerLinkActive="router-link-active" >
        <ion-button> Ver historial medico </ion-button>
      </div>
    </ion-card></ng-container
  >
</ion-content>
