ion-content::part(background) {
    background-image: url('https://res.cloudinary.com/duhm7ousd/image/upload/v1692322450/Imagenes-MediBook/img/fondo_movil_oto4cx.jpg');
    background-size: cover;
    background-position: start;
    background-repeat: no-repeat;
  
    /* Agrega un color de fondo con opacidad utilizando rgba() */
    background-color: rgba(255, 255, 255, 0.9); /* El último valor (0.5) controla la opacidad */
}


div {
    background-color: #95a5a6a9;
    background: red;
    width: 350px;
    height: 160px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    margin-left: 15px;
    margin-top: 20px;
}

.icon-img {
    width: 90px;
    height: 90px;
    position: relative;
    top: 30px;
    left: 25px;
}

ion-button{
    margin-left: 165px;
}

.label-titulo{
    position: relative;
    left: 160px;
    top: -60px;
    font-size: 30px;
}

.label-fecha-inicio{
    position: relative;
    left: 80px;
    top: -30px;
    font-size: 20px;
}

.label-fecha-final{
    position: relative;
    left: 60px;
    top: -30px;
    font-size: 15px;
}

.label-titulo2{
    position: relative;
    left: 150px;
    top: -60px;
    font-size: 30px;
}

.label-fecha-final2{
    position: relative;
    left: 60px;
    top: -30px;
    font-size: 15px;
}

.label-titulo3{
    position: relative;
    left: 150px;
    top: -60px;
    font-size: 30px;
}

.label-fecha-final3{
    position: relative;
    left: 130px;
    top: -70px;
    font-size: 15px;
}