<app-navbar [NameRoute]="'Detalle de examen medico'" [href]="'/examenes-medicos'" />


<ion-content [fullscreen]="true">

    <div class="container-div">
        <ion-img class="icon-img" src="../../../../assets/img/medicaments.png"></ion-img>



        <h2>{{ExamenMedicoDetalle?.nombre}}</h2>

        <br>

        <ion-badge class="label-fecha" color="success">Publicado: {{ExamenMedicoDetalle?.fecha}}</ion-badge>

        <br>

        <ion-text class="text-resultado" color="dark">
           <ion-badge class="text-resultado_badge" color="warning">
            Resultado
           </ion-badge> <br> <span>
            {{ExamenMedicoDetalle?.resultado}}
           </span>

        </ion-text>

            <ion-fab class="edit">
                <ion-fab-button (click)=" ChangeStateForm()" color="warning">
                    <ion-icon style="margin: 0;" name="create"></ion-icon>
                </ion-fab-button>
            </ion-fab>

            <ion-fab class="close">
                <ion-fab-button (click)="deleteExamen()" color="danger">
                    <ion-icon style="margin: 0;" name="close"></ion-icon>
                </ion-fab-button>
            </ion-fab>

        </div>

    <form style="margin: 30px;" *ngIf="StateForm" [formGroup]="FormularioExamenMedicoDetalle" (ngSubmit)="UpdateExamenMedico(FormularioExamenMedicoDetalle.value)">
        <ion-item>
            <ion-icon name="eyedrop-outline"></ion-icon>
            <ion-input formControlName="nombre" class="inputs" label="Nombre" labelPlacement="floating" placeholder=""></ion-input>
        </ion-item>

        <!-- Validación de campo nombre requerido -->
        <div class="mt-1" *ngIf="FormularioExamenMedicoDetalle.get('nombre')?.invalid && FormularioExamenMedicoDetalle.get('nombre')?.touched">
            <ion-badge *ngIf="FormularioExamenMedicoDetalle.get('nombre')?.hasError('required')" color="warning">Campo Obligatorio</ion-badge>
        </div>

        <!-- Validacion de campo caracter menor que 3 -->
        <ion-badge *ngIf="FormularioExamenMedicoDetalle.get('nombre')?.hasError('minlength')" color="warning">3 Caracteres Minímos Permitidos</ion-badge>

        <!-- Input de Fecha -->

        <ion-item>
            <ion-icon name="calendar-outline"></ion-icon>
            <ion-input formControlName="fecha" class="inputs" label="Fecha" labelPlacement="floating" placeholder="" type="date"></ion-input>
        </ion-item>

        <!-- Validación de campo fecha requerido -->
        <div class="mt-1" *ngIf="FormularioExamenMedicoDetalle.get('fecha')?.invalid && FormularioExamenMedicoDetalle.get('fecha')?.touched">
            <ion-badge *ngIf="FormularioExamenMedicoDetalle.get('fecha')?.hasError('required')" color="warning">Campo Obligatorio</ion-badge>
        </div>



        <!-- Input de resultado -->

        <ion-item>
            <ion-icon name="checkmark-circle-outline"></ion-icon>
            <ion-input formControlName="resultado" class="inputs" label="Resultado" labelPlacement="floating" placeholder=""></ion-input>
        </ion-item>

        <!-- Validación de campo resultado requerido -->
        <div class="mt-1" *ngIf="FormularioExamenMedicoDetalle.get('resultado')?.invalid && FormularioExamenMedicoDetalle.get('resultado')?.touched">
            <ion-badge *ngIf="FormularioExamenMedicoDetalle.get('resultado')?.hasError('required')" color="warning">Campo Obligatorio</ion-badge>
        </div>

        <!-- Validacion de campo resultado caracter menor que 3 -->
        <ion-badge *ngIf="FormularioExamenMedicoDetalle.get('resultado')?.hasError('minlength')" color="warning">3 Caracteres Minímos Permitidos</ion-badge>

        <div style="display: flex;justify-content: center; text-align: center;align-items: center; margin-top: 30px;">
          <ion-button shape="round" [disabled]="FormularioExamenMedicoDetalle.invalid" color="warning" type="submit">
            Actualizar Examen Medico
            <ion-icon class="ion-icon-create" slot="end" name="create"></ion-icon>
        </ion-button>
        </div>

    </form>



</ion-content>
