ion-content::part(background) {
  background-image: url('https://res.cloudinary.com/duhm7ousd/image/upload/v1692322450/Imagenes-MediBook/img/fondo_movil_oto4cx.jpg');
  background-size: cover;
  background-position: start;
  background-repeat: no-repeat;

  /* Agrega un color de fondo con opacidad utilizando rgba() */
  background-color: rgba(255, 255, 255, 0.9); /* El último valor (0.5) controla la opacidad */
}

.container-div {
    background-color: #dadadaa9;
    position: relative;
    margin: 30px 30px 30px 30px;
    height: 500px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    margin-left: 25px;
    margin-top: 20px;
}

ion-button {
    margin-left: 15px;
}

.icon-img {
    width: 150px;
    height: 150px;
    position: relative;
    top: 30px;
    left: 100px;
}

h2 {
    color: rgb(52, 52, 52);
    position: absolute;
    width: 100%;
    text-align: center;
    top: 39%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}

.label-fecha{
    position: relative;
    top: 215px;
    left: 68px;
    font-size: 20px;
}

.acciones {
    position: absolute;
    top: 60%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.close {
  position: absolute;
  top: 1%;
  left: 82%;
}

.edit {
  position: absolute;
  top: 85%;
  left: 42%;
}

.text-resultado{
    position: absolute;
    left: 120px;
    top: 270px;
    font-size: 25px;
}

.text-resultado_badge{
    font-size: 20px;
}

span{
    margin-left: -10px;
}


ion-icon{
  margin-right: 10px;
}
