.container-div{
    background-color: #95a5a6a9;
    width: 350px;
    height: 500px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    margin-left: 33px;
    margin-top: 20px;
}


ion-button{
    margin-left: 15px;
}

.icon-img{
    width: 150px;
    height: 150px;
    position: relative;
    top: 30px;
    left: 100px;
}

.label-nombre{
    position: relative;
    left: 130px;
    top: 50px;
    font-size: 30px;
}

.label-dosis{
    font-size: 15px;
    width: 100px;
    position: relative;
    top: 60px;
    left: 90px;
}

.label-lapso{
    position: relative;
    top: 120px;
    left: 20px;
    font-weight: 900;
    font-size: 20px;
}

.label-duracion{
    position: relative;
    top:  140px;
    left: 25px;
    font-weight: 900;
    font-size: 20px;
}

.close{
    margin-left: 50px;
    margin-top: 180px;
}

.edit{
    margin-left: -70px;
    margin-top: 180px;
}

ion-badge{
    margin-left: 30px;
}