<app-navbar [NameRoute]="'Detalle de receta'" [href]="'/recetas'" />


<ion-content [fullscreen]="true">
  <div class="container-div">
    <ion-img class="icon-img" src="../../../../assets/img/receta.png"></ion-img>
    <ion-label class="label-cita" color="tertiary">Lozartán</ion-label>
    <ion-badge class="label-estado label-estado-1" color="success">Cantidad: 5</ion-badge>
    <br>
    <ion-label class="label-lapso" color="dark">Cada 8 Horas</ion-label>
    <br>
    <ion-label class="label-duracion" color="dark">Nombre de la Cita</ion-label>
</div>

      <!-- Para regresar atrás -->

</ion-content>
