.btn {
  text-align: center;
  margin-top: 15px;
}

ion-card {
  --ion-background-color: transparent;
  box-shadow: none;
}

ion-card-title {
  font-size: 30px;
  font-weight: bold;
}

ion-title {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.error-message{
  color: red;
}
