<app-navbar [NameRoute]="'Medicamentos'" [href]="'/home'" />

<ion-content [fullscreen]="true">

    <ion-button type="button" [routerLink]="['/medicamentos-crear']" class="add">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
    </ion-button>

    <div [routerLink]="['/medicamentos-detalle', medicamento.id]" (click)="showLoading()" *ngFor="let medicamento of Index_medicamentos"> 
        <ion-img class="icon-img" src="../../../../assets/img/medicaments.png"></ion-img>
        <ion-label class="label-nombre" color="tertiary">{{medicamento.nombre}}</ion-label>
        <br>
        <ion-badge class="label-dosis" color="success">{{medicamento.dosis}}</ion-badge>
    </div>

</ion-content>
