ion-content::part(background) {
    background-image: url('https://res.cloudinary.com/duhm7ousd/image/upload/v1692322450/Imagenes-MediBook/img/fondo_movil_oto4cx.jpg');
    background-size: cover;
    background-position: start;
    background-repeat: no-repeat;
    /* Agrega un color de fondo con opacidad utilizando rgba() */
    background-color: rgba(255, 255, 255, 0.9);
    /* El último valor (0.5) controla la opacidad */
}

.add {
    position: relative;
    left: 140px;
    width: 130px;
    height: 50px;
    margin-top: 20px;
}

div {
    background-color: #95a5a6a9;
    width: 350px;
    height: 160px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    margin-left: 35px;
    margin-top: 20px;
}

.active {
    font-size: 30px;
    margin-left: -70px;
    margin-top: 30px;
}

.citas-formato {
    font-size: 30px;
    position: relative;
    left: 30px;
}

.icon-img {
    width: 90px;
    height: 90px;
    position: relative;
    top: 30px;
    left: 25px;
}

.label-dosis {
    font-size: 15px;
    position: relative;
    left: 130px;
    top: -45px;
}

.label-nombre {
    position: relative;
    left: 130px;
    top: -50px;
    font-size: 23px;
}