.anim {
    width: 250px;
    height: 250px;
    margin: -10px 70px;
}

ion-list {
    margin: 30px 0;
}

.inputs {
    margin-left: 10px;
}

ion-badge {
    margin-left: 30px;
}

ion-icon-create {
    font-size: 30px;
    color: #F39C12;
}

ion-button {
    margin-left: 15px;
}

.formit {
    margin-left: 30px;
    margin-right: 30px;
}