<app-navbar [NameRoute]="'Crear examenes medicos'" [href]="'/examenes-medicos'" />

<ion-content [fullscreen]="true">
    <!-- Animación -->
    <div class="anim">
        <ng-lottie [options]="options"></ng-lottie>
    </div>

    <ion-list>

        <form class="formit" style="margin: 0px 20px 20px 20px;" [formGroup]="FormularioExamenes" (submit)="CreateExamen(FormularioExamenes.value)">
            <ion-item>
                <ion-icon name="eyedrop-outline"></ion-icon>
                <ion-input formControlName="nombre" class="inputs" label="Nombre" labelPlacement="floating" placeholder=""></ion-input>
            </ion-item>

            <!-- Validación de campo nombre requerido -->
            <div class="mt-1" *ngIf="FormularioExamenes.get('nombre')?.invalid && FormularioExamenes.get('nombre')?.touched">
                <ion-badge *ngIf="FormularioExamenes.get('nombre')?.hasError('required')" color="warning">Campo Obligatorio</ion-badge>
            </div>

            <!-- Validacion de campo caracter menor que 3 -->
            <ion-badge *ngIf="FormularioExamenes.get('nombre')?.hasError('minlength')" color="warning">3 Caracteres Minímos Permitidos</ion-badge>

            <!-- Input de Fecha -->

            <ion-item>
                <ion-icon name="calendar-outline"></ion-icon>
                <ion-input formControlName="fecha" class="inputs" label="Fecha" labelPlacement="floating" placeholder="" type="date"></ion-input>
            </ion-item>

            <!-- Validación de campo fecha requerido -->
            <div class="mt-1" *ngIf="FormularioExamenes.get('fecha')?.invalid && FormularioExamenes.get('fecha')?.touched">
                <ion-badge *ngIf="FormularioExamenes.get('fecha')?.hasError('required')" color="warning">Campo Obligatorio</ion-badge>
            </div>



            <!-- Input de resultado -->

            <ion-item>
                <ion-icon name="checkmark-circle-outline"></ion-icon>
                <ion-input formControlName="resultado" class="inputs" label="Resultado" labelPlacement="floating" placeholder=""></ion-input>
            </ion-item>

            <!-- Validación de campo resultado requerido -->
            <div class="mt-1" *ngIf="FormularioExamenes.get('resultado')?.invalid && FormularioExamenes.get('resultado')?.touched">
                <ion-badge *ngIf="FormularioExamenes.get('resultado')?.hasError('required')" color="warning">Campo Obligatorio</ion-badge>
            </div>

            <!-- Validacion de campo resultado caracter menor que 3 -->
            <ion-badge *ngIf="FormularioExamenes.get('resultado')?.hasError('minlength')" color="warning">3 Caracteres Minímos Permitidos</ion-badge>


            <div style="display: flex; justify-content: center;">
                <ion-button style="margin-top: 20px; " color="success" shape="round" [disabled]="FormularioExamenes.invalid" type="submit">
                    Registrar
                    <ion-icon class="ion-icon-create" slot="end" name="create"></ion-icon>
                </ion-button>
            </div>

        </form>

    </ion-list>


</ion-content>