<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>Crear Examen Médico</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <!-- Animación -->
    <div class="anim">
        <ng-lottie [options]="options"></ng-lottie>
    </div>

    <ion-list>

        <form [formGroup]="FormularioExamenes" (ngSubmit)="CreateExamen(FormularioExamenes.value)">
            <ion-item>
                <ion-icon name="eyedrop-outline"></ion-icon>
                <ion-input formControlName="nombre" class="inputs" label="Nombre" labelPlacement="floating" placeholder=""></ion-input>
            </ion-item>

            <!-- Validación de campo nombre requerido -->
            <div class="mt-1" *ngIf="FormularioExamenes.get('nombre')?.invalid && FormularioExamenes.get('nombre')?.touched">
                <ion-badge *ngIf="FormularioExamenes.get('nombre')?.hasError('required')" color="warning">Campo Obligatorio</ion-badge>
            </div>

            <!-- Validacion de campo caracter menor que 3 -->
            <ion-badge *ngIf="FormularioExamenes.get('nombre')?.hasError('minlength')" color="warning">3 Caracteres Minímos Permitidos</ion-badge>

            <!-- Input de Fecha -->

            <ion-item>
                <ion-icon name="calendar-outline"></ion-icon>
                <ion-input formControlName="dosis" class="inputs" label="Fecha" labelPlacement="floating" placeholder="" type="date"></ion-input>
            </ion-item>

            <!-- Validación de campo fecha requerido -->
            <div class="mt-1" *ngIf="FormularioExamenes.get('dosis')?.invalid && FormularioExamenes.get('dosis')?.touched">
                <ion-badge *ngIf="FormularioExamenes.get('dosis')?.hasError('required')" color="warning">Campo Obligatorio</ion-badge>
            </div>

            <!-- Validacion de campo fecha caracter menor que 3 -->
            <ion-badge *ngIf="FormularioExamenes.get('dosis')?.hasError('minlength')" color="warning">3 Caracteres Minímos Permitidos</ion-badge>

            <!-- Input de resultado -->

            <ion-item>
                <ion-icon name="checkmark-circle-outline"></ion-icon>
                <ion-input formControlName="resultado" class="inputs" label="Resultado" labelPlacement="floating" placeholder=""></ion-input>
            </ion-item>

            <!-- Validación de campo resultado requerido -->
            <div class="mt-1" *ngIf="FormularioExamenes.get('resultado')?.invalid && FormularioExamenes.get('resultado')?.touched">
                <ion-badge *ngIf="FormularioExamenes.get('resultado')?.hasError('required')" color="warning">Campo Obligatorio</ion-badge>
            </div>

            <!-- Validacion de campo resultado caracter menor que 3 -->
            <ion-badge *ngIf="FormularioExamenes.get('resultado')?.hasError('minlength')" color="warning">3 Caracteres Minímos Permitidos</ion-badge>


            <ion-button [disabled]="FormularioExamenes.invalid" color="medium" type="submit">
                Registrar
                <ion-icon class="ion-icon-create" slot="end" name="create"></ion-icon>
            </ion-button>
        </form>

    </ion-list>

    <!-- Para regresar atrás -->
    <ion-fab [routerLink]="['/examenes-medicos']" slot="fixed" horizontal="end" vertical="bottom">
        <ion-fab-button color="dark">
            <ion-icon name="chevron-back"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>