<ion-list [routerLink]="['/pagos-detalle']">
  <ion-item>
      <ion-card>
          <ion-card-content>
              <div class="card-content">
                  <ion-thumbnail class="avatar">
                      <img src="../../../../assets/img/pagos.png" alt="Avatar">
                  </ion-thumbnail>
                  <div class="info">
                      <h2>Cirugia</h2>
                      <p>$ 100.00</p>
                  </div>
              </div>
          </ion-card-content>
      </ion-card>
  </ion-item>
</ion-list>
