<app-navbar [NameRoute]="'Crear titulo'" [href]="'/titulos'" />


<ion-content [fullscreen]="true">


    <div class="anim">
        <ng-lottie [options]="options"></ng-lottie>
    </div>
    <ion-list>

        <form [formGroup]="FormularioTitulo" (submit)="CreateTitle(FormularioTitulo.value)">


            <ion-item>
                <ion-icon slot="start" name="library-outline"></ion-icon>
                <ion-input formControlName="nombre" placeholder="Medico General" class="inputs" label="Nombre de Titulo" labelPlacement="floating" type="text"></ion-input>
            </ion-item>

            <!-- Validación de campo nombre requerido -->
            <div class="mt-1" *ngIf="FormularioTitulo.get('nombre')?.invalid && FormularioTitulo.get('nombre')?.touched">
            <ion-badge *ngIf="FormularioTitulo.get('nombre')?.hasError('required')" color="warning">Campo Obligatorio</ion-badge>
            </div>

             <!-- Validacion de campo para que solo sea letras -->
             <ion-badge *ngIf="FormularioTitulo.get('nombre')?.hasError('pattern')" color="warning">Solo Se Permiten Letras</ion-badge>
             <ion-item>
              <ion-icon name="calendar-outline"></ion-icon>
              <ion-input formControlName="fecha" class="inputs" label="Hora Salida" labelPlacement="floating" placeholder="" type="date"></ion-input>
              </ion-item>
           <div class="mt-1" *ngIf="FormularioTitulo.get('fecha')?.invalid && FormularioTitulo.get('fecha')?.touched">
            <ion-badge *ngIf="FormularioTitulo.get('fecha')?.hasError('required')" color="warning">Campo Obligatorio</ion-badge>
            </div>
            <div class="boton">
                <ion-button   color="success" type="submit" [disabled]="FormularioTitulo.invalid">
                    Registrar Titulo
                    <ion-icon class="ion-icon-create" slot="end" name="checkmark-circle"></ion-icon>
                </ion-button>
            </div>
        </form>

    </ion-list>

  </ion-content>
