<ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
  <ion-refresher-content></ion-refresher-content>
</ion-refresher>
    <div class="grid" [routerLink]="['/vacunas-detalle', vacunas.id]" *ngFor="let vacunas of Todas_Vacunas">
      <div class="flex-warp">
        <ion-img class="icon-img" src="../../../../assets/img/vacuna.png"></ion-img>
      </div>

      <div class="block-warp-2 ">
        <p class="title">{{vacunas.nombre}}</p>
        <ion-badge class="description" color="success">Aplicada: {{vacunas.fecha}}</ion-badge>
      </div>
    </div>
