<ion-content [fullscreen]="true" >
  <app-progress-bar/>

  <ion-card class="ion-no-margin">
    <ion-img src="https://res.cloudinary.com/duhm7ousd/image/upload/v1692247282/Imagenes-MediBook/img/login_banner_m2xenr.png" />
  </ion-card>

  <div class="texto-animado">
    <div class="primer-txt">
      <h1 class="primero">
        Bienvenido
      </h1>
    </div>
    <div class="primer-txt">
      <h1 class="segundo">
        al Login
      </h1>
    </div>
  </div>

  <ion-card-content>
    <form [formGroup]="formLogin" (submit)="Login(formLogin.value)" class="ion-margin">
      <ion-input
        label="Email"
        label-placement="floating"
        fill="outline"
        placeholder="Ingrese email"
        formControlName="email"
      >
      </ion-input>

      <div *ngIf="formLogin.get('email')?.invalid && formLogin.get('email')?.touched">
        <div *ngIf="formLogin.get('email')?.hasError('required')">
          <p class="error-message">Email requerido</p>
        </div>

        <div *ngIf="formLogin.get('email')?.hasError('email')">
          <p class="error-message">Email invalido</p>
        </div>
      </div>

      <ion-input
          class="ion-margin-top ion-credenciales"
          label="Contraseña"
          label-placement="floating"
          fill="outline"
          placeholder="Ingrese Contraseña"
          [type]="isSeePassword?'text':'password'"
          formControlName="password"
        >
        <ion-icon
          [name]="isSeePassword?'eye-outline':'eye-off-outline'"
          slot="end"
          (click)="seePassword()"
        ></ion-icon>
      </ion-input>

      <div
        *ngIf="formLogin.get('password')?.invalid && formLogin.get('password')?.touched"
      >
        <div *ngIf="formLogin.get('password')?.hasError('required')">
          <p class="error-message">Contraseña requerida</p>
        </div>

        <div
          class="error-message"
          *ngIf="formLogin.get('password')?.hasError('minlength')"
        >
          5 caracteres mínimo
        </div>

        <div
          class="error-message"
          *ngIf="formLogin.get('password')?.hasError('maxlength')"
        >
          10 caracteres máximo
        </div>
      </div>

      <div class="boton">
        <ion-button
        shape="round"
        expand="full"
        class="btn"
        color="warning"
        fill="solid"
        [disabled]="formLogin.invalid"
        type="submit"
      >
        Logearse
      </ion-button>
      <ion-button
        shape="round"
        [routerLink]="['/register']"
        routerLinkActive="router-link-active"
        class="btn"
        expand="full"
        color="success"
        fill="solid"
      >
        Registrarse
      </ion-button>
      </div>

    </form>
  </ion-card-content>
</ion-content>
