<app-navbar [NameRoute]="'Observacion'" [href]="'/home'" />

<ion-content [fullscreen]="true">
  <p class="title">Todas las observaciones</p>

  <ion-card>
    <ion-card-header>

        <ng-container *ngFor="let cita of medico?.cita">
          <app-card-observaciones *ngIf="medico" [observaciones]="cita.cita_observacion" />
        </ng-container>
        <ng-container *ngFor="let cita of paciente?.cita">
          <app-card-observaciones *ngIf="paciente" [observaciones]="cita.cita_observacion"/>
        </ng-container>
    </ion-card-header>
  </ion-card>
</ion-content>
