<ion-card>
  <ion-card-header>
    <ion-accordion-group>
      <ion-accordion value="second" toggleIcon="caret-down-circle" toggleIconSlot="start">
        <ion-item slot="header" color="light">
          <div class="subtitle">Antedentes médicos: asdasd </div>
        </ion-item>
        <div slot="content">
          <h5>Condicion medica: asdasd </h5>
          <h5>Alergias: asdasd </h5>
          <h5>Tipo sangre: asdasd </h5>
          <h5>Otros datos: asdasd </h5>
       </div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-card-header>
</ion-card>
