<ion-card>
  <ion-card-header>
    <div [routerLink]="['/examenes-medicos-detalle',examenmedico.id]" *ngFor="let examenmedico of ExamenesMedicos_Todos">
      <div class="interno">
        <ion-img class="icon-img" src="../../../../assets/img/examen.png"></ion-img>
        <div style="margin-left: 20px;">
          <ion-label class="label-nombre" color="tertiary">{{examenmedico.nombre}}</ion-label>
          <br>
          <ion-badge class="label-fecha" color="success">{{examenmedico.fecha}}</ion-badge>
        </div>
      </div>

    </div>
  </ion-card-header>
</ion-card>

