<app-navbar [NameRoute]="'Perfil'" [href]="''" />


<ion-content [fullscreen]="true">

  <ion-card *ngIf="paciente||medico">
    <ion-card-header>
       <div class="flex-warp">
        <p class="title">Perfil <span> {{rol==3?'Paciente':'Medico'}} </span></p>
        <img class="img-profile" alt="user" src="../../../../assets/img/doctor-profile.png" />
        <h3> {{medico?.usuario.nombre |titlecase}}  <span> {{medico?.usuario.apellido|titlecase}} </span></h3>
        <h3> {{paciente?.usuario.nombre |titlecase}}  <span> {{paciente?.usuario.apellido|titlecase}} </span></h3>
        <p class="medico-email"> {{medico?.usuario.email}} </p>
        <p> {{paciente?.usuario.email}} </p>
       </div>

       <div class="flex-warp-content">

        <div class="data-content">
          <ion-icon name="location-outline"></ion-icon>
          <div class="subtitle">{{medico?.usuario.ubicacion.provincia|titlecase}}-<span> {{medico?.usuario.ubicacion.canton|titlecase}} </span></div>
          <div class="subtitle">{{paciente?.usuario.ubicacion.provincia|titlecase}}-<span> {{paciente?.usuario.ubicacion.canton|titlecase}} </span></div>
        </div>

        <div class="data-content" *ngIf="rol===2">
          <ion-icon name="calendar-outline"></ion-icon>
          <div class="subtitle">Especialidad: {{medico.especialidad.nombre}} </div>
        </div>

       </div>

    </ion-card-header>
  </ion-card>
  <app-card-items-titulo *ngIf="rol===2" [titulos]="medico.titulo" />
  <ion-card-header *ngIf="rol===2">
    <ion-accordion-group>
      <ion-accordion-group>
        <ion-accordion
          value="second"
          toggleIcon="caret-down-circle"
          toggleIconSlot="start"
        >
          <ion-item class="dias-laborables" slot="header" color="light">
            <div class="subtitle">
              <span>Días Laborables: </span>{{medico.horario.length}}
            </div>
          </ion-item>

          <div slot="content">
            <div class="data-content" *ngFor="let horario of medico.horario">
              <ion-icon name="alarm-outline"></ion-icon>
              <div class="subtitle">
                Horario {{horario.dia |titlecase}}
                <span> {{horario.hora_inicio}} </span> -
                <span> {{horario.hora_fin}} </span>
              </div>
            </div>
          </div>

        </ion-accordion>
      </ion-accordion-group>
    </ion-accordion-group>
  </ion-card-header>
  <app-card-items-antecedentes *ngIf="rol===3" />
  <app-card-items [Number]="paciente?.cita?.length" [Nombre]="'Citas'" *ngIf="paciente" />
  <app-card-items [Number]="medico?.cita?.length" [Nombre]="'Citas'" *ngIf="medico" />
  <app-card-items [Number]="paciente?.vacuna?.length" [Nombre]="'Vacunas'" *ngIf="rol===3" />
  <app-card-items [Number]="paciente?.medicamento?.length" [Nombre]="'Medicamentos'" *ngIf="rol===3" />
  <app-card-items [Number]="paciente?.examenes_medico?.length" [Nombre]="'Examenes'"  *ngIf="rol===3" />
  <!-- <div class="ion-text-center ion-margin-top">
    <ion-button [routerLink]="['/cambiar-password']" color="primary">
      Cambiar contraseña
    </ion-button>
  </div>
  <div class="ion-text-center ion-margin-top">
    <ion-button (click)="logout()" color="danger">
      Cerrar seción
    </ion-button>
  </div> -->

  <div class="boton">
    <ion-button
    shape="round"
    expand="full"
    class="btn"
    [routerLink]="['/cambiar-password']"
    color="warning"
    fill="solid"
    type="submit"
  >
    Cambiar Contraseña
  </ion-button>

  <ion-button
    shape="round"
    (click)="logout()"
    routerLinkActive="router-link-active"
    class="btn"
    expand="full"
    color="danger"
    fill="solid"
  >
    Cerrar Sesión
  </ion-button>
  </div>
</ion-content>
