<app-navbar [NameRoute]="'Profile'" [href]="''" />


<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
       <div class="flex-warp">
        <p class="title">Perfil <span>doctor o paciente</span></p>
        <img class="img-profile" alt="user" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        <h3>Jose Cralos <span>Ramierz Briones</span></h3>
        <p>jorge@gmail.com</p>
       </div>

       <div class="flex-warp-content">

        <div class="data-content">
          <ion-icon name="alarm-outline"></ion-icon>
          <div class="subtitle">Horario <span> 7:00 am</span> <span>11:00 am</span></div>
        </div>

        <div class="data-content">
          <ion-icon name="sparkles-outline"></ion-icon>
          <div class="subtitle">Miembro desde <span>Agosto 10, 2023</span></div>
        </div>

        <div class="data-content">
          <ion-icon name="location-outline"></ion-icon>
          <div class="subtitle">Manabi, <span>Bolívar</span></div>
        </div>

        <div class="data-content">
          <ion-icon name="calendar-outline"></ion-icon>
          <div class="subtitle">Especialidad</div>
        </div>

        <div class="data-content">
          <ion-icon name="sparkles-outline"></ion-icon>
          <div class="subtitle">Miembro desde <span>Agosto 10, 2023</span></div>
        </div>
       </div>

    </ion-card-header>
  </ion-card>
  <app-card-items-titulo [titulos]="titulos" />
  <app-card-items-antecedentes />
  <app-card-items [Number]="'200'" [Nombre]="'Recetas'" />
  <app-card-items [Number]="'20'" [Nombre]="'Citas'" />
  <app-card-items [Number]="'10'" [Nombre]="'Vacunas'" />
  <app-card-items [Number]="'30'" [Nombre]="'Medicamentos'" />
  <app-card-items [Number]="'30'" [Nombre]="'Examenes'" />

</ion-content>
