<app-navbar [NameRoute]="'Detalle de Cita'" [href]="'/citas-medicas'" />

<ion-content [fullscreen]="true">
  <div class="container-div" *ngIf="cita">
    <ion-img
      class="icon-img"
      src="https://res.cloudinary.com/duhm7ousd/image/upload/v1691509230/Imagenes-MediBook/Iconos/estetoscopio-anaranjado_w5lauw.png"
    ></ion-img>

    <div class="descripcion">
      <h1 style="width: 50%; text-align: end; margin-right: 6px;">
        Detalle de cita:
      </h1>
      <h1 style="width: 50%; text-align: start; margin-left: 6px;">
        {{cita.titulo|titlecase}}
      </h1>
    </div>

    <div class="descripcion" [routerLink]="['/profile-medico/'+cita.medico.id]">
      <h2 style="width: 50%; text-align: end; margin-right: 6px; color: #3498DB;">
        Nombre de Doctor:
      </h2>
      <h2 style="width: 50%; text-align: start; margin-left: 6px;">
        {{cita.medico.usuario.nombre|titlecase}}
      </h2>
    </div>
    <div class="descripcion" [routerLink]="['/profile-paciente/'+cita.paciente.id]" routerLinkActive="router-link-active" >
      <h2 style="width: 50%; text-align: end; margin-right: 6px; color: #3498DB;">
        Nombre de Paciente:
      </h2>
      <h2 style="width: 50%; text-align: start; margin-left: 6px;">
        {{cita.paciente.usuario.nombre|titlecase}}
      </h2>
    </div>
    <div class="descripcion">
      <h2 style="width: 50%; text-align: end; margin-right: 6px; color: #3498DB;">
        Especialidad:
      </h2>
      <h2 style="width: 50%; text-align: start; margin-left: 6px;">
        {{cita.medico.especialidad.nombre|titlecase}}
      </h2>
    </div>

    <div class="descripcion">
      <h2 style="width: 50%; text-align: end; margin-right: 6px; color: #3498DB;">
        Estado:
      </h2>
      <h2 style="width: 50%; text-align: start; margin-left: 6px;">
        {{cita.estado_cita.nombre}}
      </h2>
    </div>

    <div class="hora">
      <h3>
        Hora Inicio:<br>{{cita.hora_inicio}}
      </h3>

      <h3>
        Hora Fin:<br>{{cita.hora_fin}}
      </h3>
    </div>

    <ion-accordion-group slot="acordion" [multiple]="false" [value]="['first']">

      <ion-accordion
      value="primary"
      toggleIcon="caret-down-circle"
      toggleIconSlot="start"
      class="accordion"
      >
        <ion-item slot="header" color="success">
          <ion-label>Recetas: {{cita.receta.length}}</ion-label>
        </ion-item>

        <div slot="content">
          <div *ngFor="let recetas of cita.receta">
            <h5>{{recetas.nombre_medicamento}}</h5>
            <hr>
          </div>
        </div>

      </ion-accordion>

      <ion-accordion
      value="second"
      toggleIcon="caret-down-circle"
      toggleIconSlot="start"
      class="accordion"
      >
        <ion-item slot="header" color="success">
          <ion-label>Observaciones: {{cita.cita_observacion.length}}</ion-label>
        </ion-item>

        <div slot="content">
          <div *ngFor="let recetas of cita.cita_observacion">
            <h5>{{recetas.contenido}}</h5>
            <hr>
          </div>
        </div>

      </ion-accordion>

      <ion-accordion
      value="thrid"
      toggleIcon="caret-down-circle"
      toggleIconSlot="start"
      class="accordion"
      >
        <ion-item slot="header" color="success">
          <ion-label>Reseñas: {{cita.resenia.length}}</ion-label>
        </ion-item>

        <div slot="content">
          <div *ngFor="let resenia of cita.resenia">
            <h5>{{resenia.calificacion}}</h5>
            <hr>
            <hr>
          </div>
        </div>

      </ion-accordion>

    </ion-accordion-group>

    <div class="btn">
      <ion-button color="primary" *ngIf="user.rol.nombre==='Paciente'" [routerLink]="['/resenia-crear',id]" shape="round">
        Crear Reseña
      </ion-button>
      <ion-button (click)=" EditMecament()" *ngIf="user.rol.nombre==='Paciente'" color="warning" shape="round">
        Editar Cita
      </ion-button>
    </div>

    <ion-fab class="close">
      <ion-fab-button (click)="DeleteMedicament()" *ngIf="user.rol.nombre==='Paciente'" color="danger">
        <ion-icon name="close"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <form
    *ngIf="StateForm"
    [formGroup]="FormCitasMedicasEditar"
    (ngSubmit)="UpdateMedicament(FormCitasMedicasEditar.value)"
  >

    <div style="text-align: center; width: 100%; font-weight: bold; margin: 30px 0 20px 0; font-size: 18pt; color: #F39C12;">
      Actualizar Cita
    </div>

    <ion-item style="margin-bottom: 10px; border-radius: 15px;">
      <ion-icon name="leaf" style="margin-right: 15px; color: rgb(6, 205, 43);"></ion-icon>

      <!-- Inputs de titulo -->
      <ion-input
        formControlName="titulo"
        class="inputs"
        label="Titulo de la Cita"
        labelPlacement="floating"
        placeholder="Problemas Cárdiacos"
      ></ion-input>
    </ion-item>
    <div
      class="mt-1"
      *ngIf="FormCitasMedicasEditar.get('titulo')?.invalid && FormCitasMedicasEditar.get('titulo')?.touched"
    >
      <span
        *ngIf="FormCitasMedicasEditar.get('titulo')?.hasError('required')"
        color="warning"
        >Campo Requerido</span
      >
    </div>

    <!-- Input de Hora Inicio -->
    <ion-item style="margin-bottom: 10px; border-radius: 15px;">
      <ion-icon name="time" style="margin-right: 15px; color: rgb(139, 138, 136);"></ion-icon>
      <ion-input
        formControlName="hora_inicio"
        class="inputs"
        label="Hora de Entrada"
        labelPlacement="floating"
        placeholder="2:00 pm"
        type="time"
      ></ion-input>
    </ion-item>
    <div
      class="mt-1"
      *ngIf="FormCitasMedicasEditar.get('hora_inicio')?.invalid && FormCitasMedicasEditar.get('hora_inicio')?.touched"
    >
      <span
        *ngIf="FormCitasMedicasEditar.get('hora_inicio')?.hasError('required')"
        color="warning"
        >Campo Requerido</span
      >
    </div>

    <!-- Input de hora_fin -->

    <ion-item style="margin-bottom: 10px; border-radius: 15px;">
      <ion-icon name="alarm-outline" style="margin-right: 15px; color: #3498DB;"></ion-icon>
      <ion-input
        formControlName="hora_fin"
        class="inputs"
        label="Hora de Salida"
        labelPlacement="floating"
        placeholder="17:00 pm"
        type="time"
      ></ion-input>
    </ion-item>
    <div
      class="mt-1"
      *ngIf="FormCitasMedicasEditar.get('hora_fin')?.invalid && FormCitasMedicasEditar.get('hora_fin')?.touched"
    >
      <span
        *ngIf="FormCitasMedicasEditar.get('hora_fin')?.hasError('required')"
        color="warning"
        >Campo Requerido</span
      >
    </div>

    <!-- Input medico_id -->
    <ion-item style="margin-bottom: 10px; border-radius: 15px;">
      <ion-icon name="alarm-outline" style="margin-right: 15px; color: #7b29d8;"></ion-icon>
      <ion-input
        formControlName="fecha"
        class="inputs"
        label="Fecha"
        labelPlacement="floating"
        placeholder="10/11/2023"
        type="date"
      ></ion-input>
    </ion-item>
    <div
      class="mt-1"
      *ngIf="FormCitasMedicasEditar.get('fecha')?.invalid && FormCitasMedicasEditar.get('hora_fin')?.touched"
    >
      <span
        *ngIf="FormCitasMedicasEditar.get('fecha')?.hasError('required')"
        color="warning"
        >Campo Requerido</span
      >
    </div>

    <div class="btn">
      <ion-button color="medium"
        type="submit"
        [disabled]="FormCitasMedicasEditar.invalid"
        shape="round">
          Actualizar
          <ion-icon class="ion-icon-create" slot="end" name="create"></ion-icon>
      </ion-button>
    </div>

  </form>

  </div>

</ion-content>
