ion-content::part(background) {
  background-image: url('https://res.cloudinary.com/duhm7ousd/image/upload/v1692322450/Imagenes-MediBook/img/fondo_movil_oto4cx.jpg');
  background-size: cover;
  background-position: start;
  background-repeat: no-repeat;

  /* Agrega un color de fondo con opacidad utilizando rgba() */
  background-color: rgba(255, 255, 255, 0.9); /* El último valor (0.5) controla la opacidad */
}

.container-div{
    background-color: #f4f4f4aa;
    margin: 20px;
    padding: 15px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    position: relative;
}

.icon-img{
  width: 120px;
  height: 120px;
  margin: auto;
  margin-bottom: 10px;
}

h1, h2, h3{
  padding: 0;
  text-align: center;
}
h1{
  font-size: 17pt;
  font-weight: bold;
  color: #F39C12;
}
h2, h3{
  font-size: 12pt;
  font-weight: 600;
  color: #454545;
}

h5{
  margin: 8px 0 8px 30px;
  height: 20px;
  font-size: 12pt;
}

hr{
  background-color: #bdbdbd87;
  width: 90%;
  margin: auto;
  padding: 0;
}

.hora{
  display: flex;
  justify-content: space-around;
}

.descripcion{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn{
  display: flex;
  justify-content: space-evenly;
  margin: 10px 0;
  font-weight: bold;
}



.close{
  position: absolute;
  top: 10px;
  left: 82%;
}



/* Estilo para los encabezados de los acordeones */
ion-item[slot="header"] {
  border-radius: 25px;
  border-bottom: 1px solid #ccc;
  font-size: 14pt;
  margin-top: 10px;
  font-weight: bold;
  background-color: transparent;
}

/* Estilo para los encabezados de los acordeones cerrados */
ion-accordion:not([expanded]) ion-item[slot="header"] {
  border-bottom: none;
  background-color: transparent;
}

ion-accordion-group[slot="acordion"]{
  margin: 15px 0;
}

.accordion{
  background-color: transparent;
}

span{
  color: red;
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 10pt;
}

form{
  margin-top: 20px;
}

.btn-pagos{
  margin-left: 75px;
}

.btn-pagos_icono{
  margin-left: 10px;
}