<app-navbar [NameRoute]="'Buscar'" [href]="''" />


<ion-content [fullscreen]="true">
    <app-progress-bar/>

    <ion-searchbar color="medium" [(ngModel)]="searchTerm" placeholder="Buscar" show-clear-button="always" clear-icon="trash-bin"></ion-searchbar>


    <ion-item *ngIf="especialidades|async as especialidades">
        <ion-label>Especialidad</ion-label>
        <ion-select [(ngModel)]="specialtyFilter">
            <ion-select-option value="">Todas</ion-select-option>
            <ion-select-option *ngFor="let item of especialidades" [value]="item.nombre">{{ item.nombre|titlecase }}</ion-select-option>
        </ion-select>
    </ion-item>

    <ion-list >
        <ion-item *ngFor="let item of filteredItems">
            <ion-card [routerLink]="['/profile-medico/',item.id]"  >
                <ion-card-content>
                    <div class="card-content">
                        <ion-thumbnail *ngIf="item.especialidad.nombre == 'Medicina Familiar'" class="avatar">
                            <img src="../../../../assets/img/ante-detalles.png" alt="Avatar">
                        </ion-thumbnail>
                        <ion-thumbnail *ngIf="item.especialidad.nombre == 'Infectología'" class="avatar">
                            <img src="../../../../assets/img/infectologia.png" alt="Avatar">
                        </ion-thumbnail>
                        <ion-thumbnail *ngIf="item.especialidad.nombre == 'Cardiología'" class="avatar">
                            <img src="../../../../assets/img/cardiologia.png" alt="Avatar">
                        </ion-thumbnail>
                        <ion-thumbnail *ngIf="item.especialidad.nombre == 'Dermatología'" class="avatar">
                            <img src="../../../../assets/img/dermartologia.png" alt="Avatar">
                        </ion-thumbnail>
                        <ion-thumbnail *ngIf="item.especialidad.nombre == 'Endocrinología'" class="avatar">
                            <img src="../../../../assets/img/Endocrinología.png" alt="Avatar">
                        </ion-thumbnail>
                        <ion-thumbnail *ngIf="item.especialidad.nombre == 'Traumatología'" class="avatar">
                            <img src="../../../../assets/img/Traumatología.png" alt="Avatar">
                        </ion-thumbnail>
                        <ion-thumbnail *ngIf="item.especialidad.nombre == 'Pediatría'" class="avatar">
                            <img src="../../../../assets/img/pediatria.png" alt="Avatar">
                        </ion-thumbnail>
                        <ion-thumbnail *ngIf="item.especialidad.nombre == 'Psiquiatría'" class="avatar">
                            <img src="../../../../assets/img/Psiquiatría.png" alt="Avatar">
                        </ion-thumbnail>
                            
                        <div class="info">
                            <h2>{{ item.usuario.nombre|titlecase }} {{item.usuario.apellido|titlecase}}</h2>
                            <p>{{ item.especialidad.nombre|titlecase }} - {{item.usuario.datos_personale.ci}}</p>
                        </div>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-item>
    </ion-list>




</ion-content>
