div{
    background-color: #95a5a6a9;
    width: 350px;
    height: 160px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    margin-left: 15px;
    margin-top: 20px;
}

.add{
    position: relative;
    left: 180px;
    width: 50px;
    height: 50px;
}

.icon-img{
    width: 90px;
    height: 90px;
    position: relative;
    top: 30px;
    left: 25px;
}

.label-vacuna-1{
    position: relative;
    left: 160px;
    top: -60px;
    font-size: 40px;
}

.label-fecha-1{
    position: relative;
    left: 50px;
    top: -25px;
    font-size: 20px;
}

.label-vacuna-2{
    position: relative;
    left: 150px;
    top: -50px;
    font-size: 20px;
    font-size: 40px;
}

.label-fecha-2{
    font-size: 20px;
    position: relative;
    left: 5px;
    top: -10px;
}

.label-vacuna-3{    
    position: relative;
    left: 150px;
    top: -50px;
    font-size: 20px;
    font-size: 40px;
}

.label-fecha-3{
    font-size: 20px;
    position: relative;
    left: 150px;
    top: -60px;
}
