<app-navbar [NameRoute]="'Crear observacion'" [href]="'/citas-medicas'" />

<ion-content [fullscreen]="true">
  <!-- Animación -->
  <div class="anim">
    <ng-lottie [options]="options"></ng-lottie>
</div>

<ion-list>

    <form [formGroup]="FormularioObservacion" (ngSubmit)="Observacion(FormularioObservacion.value)">
        <ion-item>
            <ion-icon name="eyedrop-outline"></ion-icon>
            <ion-input class="inputs" label="Observación" labelPlacement="floating" placeholder="Ingrese observación" formControlName="observacion"></ion-input>
        </ion-item>
        <div class="mt-1" *ngIf="FormularioObservacion.get('observacion')?.invalid && FormularioObservacion.get('observacion')?.touched">
          <ion-badge *ngIf="FormularioObservacion.get('observacion')?.hasError('required')" color="warning">Campo Requerido</ion-badge>
      </div>

      <ion-button color="medium" type="submit" [disabled]="FormularioObservacion.invalid">
        Registrar
      <ion-icon class="ion-icon-create" slot="end" name="create"></ion-icon>
      </ion-button>
    </form>

</ion-list>

<!-- Para regresar atrás -->
<!-- <ion-fab [routerLink]="['/']" slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button color="dark">
        <ion-icon name="chevron-back"></ion-icon>
    </ion-fab-button>
</ion-fab> -->

</ion-content>
