ion-content::part(background) {
  background-image: url('https://res.cloudinary.com/duhm7ousd/image/upload/v1692322450/Imagenes-MediBook/img/fondo_movil_oto4cx.jpg');
  background-size: cover;
  background-position: start;
  background-repeat: no-repeat;

  /* Agrega un color de fondo con opacidad utilizando rgba() */
  background-color: rgba(255, 255, 255, 0.9); /* El último valor (0.5) controla la opacidad */
}
