<ion-card>
  <ion-card-header>
    <div class="flex-warp">
      <img
        class="rounded"
        alt="user"
        src="https://ionicframework.com/docs/img/demos/avatar.svg"
      />
      <h3 > {{duda?.paciente?.usuario?.nombre|titlecase}} </h3>
    </div>
    <p>{{duda?.paciente?.usuario?.rol?.nombre|titlecase}} <span> {{duda?.fecha|date}} </span></p>

    <p class="content-data">
      {{duda?.contenido|titlecase}}
    </p>

    <ion-accordion-group class="ion-no-padding">
      <ion-accordion
        value="first"
        toggleIcon="caret-down-circle"
        toggleIconSlot="start"
      >
        <ion-item slot="header" color="light">
          <ion-label><span> {{duda.reply_duda.length}} </span> respuestas</ion-label>
        </ion-item>
        <app-card-reply-duda slot="content" [duda]="replyduda"  *ngFor="let replyduda of duda.reply_duda"/>
      </ion-accordion>
    </ion-accordion-group>
  </ion-card-header>
</ion-card>
